{% extends "admin/base.html.twig" %}

{% block main %}
	<div class="d-flex mt-4 ms-4 me-4">

		<table class="table table-hover caption-top table-responsive">
			<caption>
				Clients
			</caption>


			<thead class="table-primary">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Raison Sociale</th>
					<th scope="col">Siret</th>
					<th scope="col">Adresse</th>
					<th scope="col">CP</th>
					<th scope="col">Ville</th>
					{# <th scope="col">Ged</th> #}
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{% for client in clients %}

					<tr class="table-info"></tr>

					<th scope="row">
						{{client.id}}
					</th>
					<td>
						<a href="{{path('admin_show_client', {'id' : client.id}) }}">{{client.raisonsociale}}</a>
					</td>
				</td>
				<td>{{client.siret}}</td>
				<td>{{client.adresse}}</td>
				<td>{{client.cp}}</td>
				<td>{{client.ville}}</td>
				{# <td>{{client.ged}}</td> #}
				<td>
					<a class="stylebouton" href="{{path('admin_update_client', {'id' : client.id}) }}">Modifier</a>

					<a class="stylebouton" href="{{path('admin_delete_client', {'id' : client.id}) }}">Supprimer</a>


				</td>
			</tbody>
		</tr>

	{% endfor %}


</tbody></table></div><a class="stylebouton mt-4 ms-4 me-4" href="{{path('admin_create_client')}}">Ajouter client</a>{% endblock %}
